* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e8cbc0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #636fa4, #e8cbc0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #636fa4, #e8cbc0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    font-family: "poppins", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    border: none;
    padding: 10px;
    font-size: 1.6rem;
    border-radius: 4px;
    margin-right: 10px;
}

form button {
    cursor: pointer;
    transition: all 0.2s ease;
}

form button:hover {
    background-color: black;
    color: white;
}
